In [1]:
import csv
import pandas as pd
import numpy as np
df = pd.read_csv('3VAC1.csv')
for i in range(len(df)):
    df['amplitudes'][i]= df['amplitudes'][i][1:len(df['amplitudes'][i])-2]
    df['amplitudes'][i] = np.array(df['amplitudes'][i].split(','))
    df['amplitudes'][i] =[float(i)/100 for i in df['amplitudes'][i]]
df

<ipython-input-1-946d3930d56d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amplitudes'][i]= df['amplitudes'][i][1:len(df['amplitudes'][i])-2]
<ipython-input-1-946d3930d56d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amplitudes'][i] = np.array(df['amplitudes'][i].split(','))
<ipython-input-1-946d3930d56d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amplitudes'][i] =[float(i)/100 for i in df['amplitudes'][i]]

,oper_status,status_detail,poller_source,device_id,collection_time,span,bins,first,last,amplitudes,offset,partition,load_dt,site_id
0,SUCCESS,Successful Scan,ACS,3c:04:61:fe:1e:81,2021-12-31 14:17:24.315516,60000000,512,36000000,996000000,"[-62.62, -60.33, -61.28, -64.34, -64.24, -62.5...",24767063,0,2021-12-31,1
1,SUCCESS,Successful Scan,ACS,58:19:f8:2a:ce:a7,2021-12-31 03:37:44.558435,60000000,512,36000000,996000000,"[-66.12, -66.27, -66.4, -69.14, -71.27, -66.7,...",24741692,3,2021-12-31,1
2,SUCCESS,Successful Scan,ACS,a8:97:cd:41:0e:f1,2021-12-31 22:12:33.482232,60000000,512,36000000,996000000,"[-45.0, -45.1, -46.6, -47.1, -47.1, -48.7, -48...",24791170,4,2021-12-31,1
3,SUCCESS,Successful Scan,ACS,b0:da:f9:3e:5d:c6,2021-12-31 02:25:25.461587,60000000,512,36000000,996000000,"[-45.7, -45.9, -46.7, -46.9, -46.9, -46.6, -46...",24734587,0,2021-12-31,1
4,SUCCESS,Successful Scan,ACS,d4:04:cd:d6:f3:5d,2021-12-31 08:23:28.237695,60000000,512,36000000,996000000,"[-66.78, -65.31, -64.3, -62.45, -65.31, -64.76...",24754079,1,2021-12-31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,SUCCESS,Successful Scan,ACS,98:52:4a:07:80:ff,2021-12-31 15:59:59.893470,60000000,512,36000000,996000000,"[-12.62, -14.36, -11.18, -11.04, -10.57, -13.6...",24771748,0,2021-12-31,1
1042,SUCCESS,Successful Scan,ACS,98:f7:d7:b8:e6:f9,2021-12-31 16:06:43.727959,60000000,512,36000000,996000000,"[-54.11, -53.4, -53.81, -52.58, -54.45, -53.64...",24774986,2,2021-12-31,1
1043,SUCCESS,Successful Scan,ACS,08:a7:c0:a3:f0:ba,2021-12-31 13:47:21.574574,60000000,512,36000000,996000000,"[-17.11, -14.83, -13.83, -11.97, -9.85, -10.64...",24768300,1,2021-12-31,1
1044,SUCCESS,Successful Scan,ACS,a8:97:cd:40:37:a5,2021-12-31 11:30:49.141362,60000000,512,36000000,996000000,"[-47.2, -47.4, -48.8, -49.2, -49.2, -50.3, -50...",24762852,3,2021-12-31,1
1045,SUCCESS,Successful Scan,ACS,7c:26:34:76:83:7a,2021-12-31 12:00:45.436885,60000000,512,36000000,996000000,"[-49.22, -47.03, -48.0, -49.08, -48.43, -46.13...",24759842,0,2021-12-31,1

In [20]:
am = df['amplitudes']
am = am.apply(pd.Series)
am

,0,1,2,3,4,5,6,7,8,9,...,8694,8695,8696,8697,8698,8699,8700,8701,8702,8703
0,-62.62,-60.33,-61.28,-64.34,-64.24,-62.54,-62.92,-61.56,-60.85,-61.12,...,-73.29,-71.08,-67.68,-69.96,-72.66,-70.30,-72.50,-70.84,-69.88,-6.87
1,-66.12,-66.27,-66.40,-69.14,-71.27,-66.70,-64.48,-65.89,-67.81,-66.76,...,-68.69,-67.49,-66.71,-70.81,-71.99,-73.89,-71.91,-71.09,-68.43,-6.77
2,-45.00,-45.10,-46.60,-47.10,-47.10,-48.70,-48.80,-48.40,-46.10,-46.10,...,-44.20,-44.20,-44.50,-44.20,-43.50,-43.00,-43.00,-42.10,-41.70,-4.17
3,-45.70,-45.90,-46.70,-46.90,-46.90,-46.60,-46.60,-46.70,-47.80,-47.80,...,-46.00,-45.10,-43.70,-43.50,-44.50,-46.00,-46.30,-45.10,-44.80,-4.48
4,-66.78,-65.31,-64.30,-62.45,-65.31,-64.76,-66.59,-65.69,-67.01,-65.90,...,-69.16,-68.78,-68.28,-65.61,-66.64,-64.89,-67.65,-68.41,-69.25,-6.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,-12.62,-14.36,-11.18,-11.04,-10.57,-13.63,-11.94,-9.34,-11.12,-13.03,...,-61.83,-63.46,-63.48,-62.19,-62.95,-62.40,-62.08,-64.08,-65.15,-6.58
1042,-54.11,-53.40,-53.81,-52.58,-54.45,-53.64,-52.87,-54.03,-54.19,-53.84,...,-63.26,-61.65,-63.08,-62.10,-62.07,-62.44,-62.02,-60.04,-63.07,-5.96
1043,-17.11,-14.83,-13.83,-11.97,-9.85,-10.64,-10.18,-9.59,-9.40,-11.26,...,-52.97,-52.64,-51.04,-50.88,-52.94,-55.21,-53.68,-51.45,-54.46,-5.69
1044,-47.20,-47.40,-48.80,-49.20,-49.20,-50.30,-50.30,-50.30,-49.80,-49.80,...,-51.10,-49.80,-48.30,-48.30,-47.00,-46.00,-46.10,-46.60,-47.00,-4.70
1045,-49.22,-47.03,-48.00,-49.08,-48.43,-46.13,-46.87,-48.36,-48.54,-46.18,...,-58.56,-57.80,-58.76,-58.34,-58.70,-57.80,-57.13,-55.91,-55.92,-5.48

In [24]:
am =am.sub(am.loc[0], axis='columns')
am

,0,1,2,3,4,5,6,7,8,9,...,8694,8695,8696,8697,8698,8699,8700,8701,8702,8703
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,-3.50,-5.94,-5.12,-4.80,-7.03,-4.16,-1.56,-4.33,-6.96,-5.64,...,4.60,3.59,0.97,-0.85,0.67,-3.59,0.59,-0.25,1.45,0.10
2,17.62,15.23,14.68,17.24,17.14,13.84,14.12,13.16,14.75,15.02,...,29.09,26.88,23.18,25.76,29.16,27.30,29.50,28.74,28.18,2.70
3,16.92,14.43,14.58,17.44,17.34,15.94,16.32,14.86,13.05,13.32,...,27.29,25.98,23.98,26.46,28.16,24.30,26.20,25.74,25.08,2.39
4,-4.16,-4.98,-3.02,1.89,-1.07,-2.22,-3.67,-4.13,-6.16,-4.78,...,4.13,2.30,-0.60,4.35,6.02,5.41,4.85,2.43,0.63,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,50.00,45.97,50.10,53.30,53.67,48.91,50.98,52.22,49.73,48.09,...,11.46,7.62,4.20,7.77,9.71,7.90,10.42,6.76,4.73,0.29
1042,8.51,6.93,7.47,11.76,9.79,8.90,10.05,7.53,6.66,7.28,...,10.03,9.43,4.60,7.86,10.59,7.86,10.48,10.80,6.81,0.91
1043,45.51,45.50,47.45,52.37,54.39,51.90,52.74,51.97,51.45,49.86,...,20.32,18.44,16.64,19.08,19.72,15.09,18.82,19.39,15.42,1.18
1044,15.42,12.93,12.48,15.14,15.04,12.24,12.62,11.26,11.05,11.32,...,22.19,21.28,19.38,21.66,25.66,24.30,26.40,24.24,22.88,2.17
1045,13.40,13.30,13.28,15.26,15.81,16.41,16.05,13.20,12.31,14.94,...,14.73,13.28,8.92,11.62,13.96,12.50,15.37,14.93,13.96,1.39

In [26]:
am['mean'] = am.mean(axis=1)
am

,0,1,2,3,4,5,6,7,8,9,...,8695,8696,8697,8698,8699,8700,8701,8702,8703,mean
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000
1,-3.50,-5.94,-5.12,-4.80,-7.03,-4.16,-1.56,-4.33,-6.96,-5.64,...,3.59,0.97,-0.85,0.67,-3.59,0.59,-0.25,1.45,0.10,-3.234628
2,17.62,15.23,14.68,17.24,17.14,13.84,14.12,13.16,14.75,15.02,...,26.88,23.18,25.76,29.16,27.30,29.50,28.74,28.18,2.70,16.554743
3,16.92,14.43,14.58,17.44,17.34,15.94,16.32,14.86,13.05,13.32,...,25.98,23.98,26.46,28.16,24.30,26.20,25.74,25.08,2.39,11.852398
4,-4.16,-4.98,-3.02,1.89,-1.07,-2.22,-3.67,-4.13,-6.16,-4.78,...,2.30,-0.60,4.35,6.02,5.41,4.85,2.43,0.63,0.12,3.349882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,50.00,45.97,50.10,53.30,53.67,48.91,50.98,52.22,49.73,48.09,...,7.62,4.20,7.77,9.71,7.90,10.42,6.76,4.73,0.29,7.745841
1042,8.51,6.93,7.47,11.76,9.79,8.90,10.05,7.53,6.66,7.28,...,9.43,4.60,7.86,10.59,7.86,10.48,10.80,6.81,0.91,5.238559
1043,45.51,45.50,47.45,52.37,54.39,51.90,52.74,51.97,51.45,49.86,...,18.44,16.64,19.08,19.72,15.09,18.82,19.39,15.42,1.18,17.619432
1044,15.42,12.93,12.48,15.14,15.04,12.24,12.62,11.26,11.05,11.32,...,21.28,19.38,21.66,25.66,24.30,26.40,24.24,22.88,2.17,12.780635
1045,13.40,13.30,13.28,15.26,15.81,16.41,16.05,13.20,12.31,14.94,...,13.28,8.92,11.62,13.96,12.50,15.37,14.93,13.96,1.39,10.711094

In [27]:
f = [df['device_id'],am]
data = pd.concat(f,axis=1)
data

,device_id,0,1,2,3,4,5,6,7,8,...,8695,8696,8697,8698,8699,8700,8701,8702,8703,mean
0,3c:04:61:fe:1e:81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000
1,58:19:f8:2a:ce:a7,-3.50,-5.94,-5.12,-4.80,-7.03,-4.16,-1.56,-4.33,-6.96,...,3.59,0.97,-0.85,0.67,-3.59,0.59,-0.25,1.45,0.10,-3.234628
2,a8:97:cd:41:0e:f1,17.62,15.23,14.68,17.24,17.14,13.84,14.12,13.16,14.75,...,26.88,23.18,25.76,29.16,27.30,29.50,28.74,28.18,2.70,16.554743
3,b0:da:f9:3e:5d:c6,16.92,14.43,14.58,17.44,17.34,15.94,16.32,14.86,13.05,...,25.98,23.98,26.46,28.16,24.30,26.20,25.74,25.08,2.39,11.852398
4,d4:04:cd:d6:f3:5d,-4.16,-4.98,-3.02,1.89,-1.07,-2.22,-3.67,-4.13,-6.16,...,2.30,-0.60,4.35,6.02,5.41,4.85,2.43,0.63,0.12,3.349882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,98:52:4a:07:80:ff,50.00,45.97,50.10,53.30,53.67,48.91,50.98,52.22,49.73,...,7.62,4.20,7.77,9.71,7.90,10.42,6.76,4.73,0.29,7.745841
1042,98:f7:d7:b8:e6:f9,8.51,6.93,7.47,11.76,9.79,8.90,10.05,7.53,6.66,...,9.43,4.60,7.86,10.59,7.86,10.48,10.80,6.81,0.91,5.238559
1043,08:a7:c0:a3:f0:ba,45.51,45.50,47.45,52.37,54.39,51.90,52.74,51.97,51.45,...,18.44,16.64,19.08,19.72,15.09,18.82,19.39,15.42,1.18,17.619432
1044,a8:97:cd:40:37:a5,15.42,12.93,12.48,15.14,15.04,12.24,12.62,11.26,11.05,...,21.28,19.38,21.66,25.66,24.30,26.40,24.24,22.88,2.17,12.780635
1045,7c:26:34:76:83:7a,13.40,13.30,13.28,15.26,15.81,16.41,16.05,13.20,12.31,...,13.28,8.92,11.62,13.96,12.50,15.37,14.93,13.96,1.39,10.711094

In [29]:
data[abs(data['mean'])<5]

,device_id,0,1,2,3,4,5,6,7,8,...,8695,8696,8697,8698,8699,8700,8701,8702,8703,mean
0,3c:04:61:fe:1e:81,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000000
1,58:19:f8:2a:ce:a7,-3.50,-5.94,-5.12,-4.80,-7.03,-4.16,-1.56,-4.33,-6.96,...,3.59,0.97,-0.85,0.67,-3.59,0.59,-0.25,1.45,0.10,-3.234628
4,d4:04:cd:d6:f3:5d,-4.16,-4.98,-3.02,1.89,-1.07,-2.22,-3.67,-4.13,-6.16,...,2.30,-0.60,4.35,6.02,5.41,4.85,2.43,0.63,0.12,3.349882
15,f8:5e:42:8c:cd:1d,46.14,46.36,48.34,52.13,50.09,51.98,51.66,47.23,46.75,...,1.72,-0.81,0.92,5.74,4.43,6.52,3.75,0.63,0.07,-0.110085
16,d4:b9:2f:47:39:6a,45.31,43.80,49.34,51.54,53.19,51.32,51.80,46.85,49.53,...,8.12,3.53,4.63,8.48,6.33,8.21,5.16,3.33,0.38,4.157379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,d4:b9:2f:5c:c5:23,48.38,43.86,49.05,50.66,49.33,50.06,49.33,48.88,49.29,...,3.93,3.30,4.49,7.16,6.44,7.98,5.72,5.73,0.36,4.015433
1029,48:1d:70:46:01:59,2.94,3.46,4.62,6.75,6.56,6.22,5.56,4.04,2.73,...,4.97,1.01,1.92,1.02,1.02,2.59,2.70,0.49,0.12,1.902856
1030,d4:3f:cb:e1:ca:35,-0.87,-3.23,-0.40,1.80,2.57,1.50,2.42,-0.60,-1.64,...,-0.76,-3.95,0.38,4.27,1.85,4.58,0.88,0.73,-0.13,4.090949
1037,80:d0:4a:77:6b:a0,47.27,45.83,49.86,50.97,50.66,53.80,52.23,49.38,50.60,...,2.43,-0.77,2.04,5.40,2.39,5.12,5.09,4.10,0.15,0.959900
1039,00:90:ea:1f:3d:22,-0.70,-2.79,-1.39,2.77,3.11,1.63,0.52,-0.26,-4.70,...,9.23,8.48,10.76,11.86,8.98,8.24,9.07,8.13,1.16,4.448140